.header {
  width: 105%;
  height: 10%;
  left: -3%;
  position: absolute;
  background-image: linear-gradient(100deg, #712bda, #a45deb 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
.container {
  width: 100vw;
  height: 102vh;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8fafc;
}
